
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.italia {
     margin-left:250px;
     margin-top:40px;
     
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    font-size:100px;
    color:rgb(0, 183, 255);

}

a {
    text-decoration:none;
    font-size:40px;
    margin-left:500px;
    margin-top:200px;
    color:black;
}

a:hover {
   color: blue;
}